<div class="container" style="padding-top: 20px">
  <% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <p> </p>
  <div class="jumbotron">
    <h1 style="padding-bottom: 15px">Welcome to GhostTracker!</h1>
    <p></p>
    <p>Choose your platform and your PSN ID or XBL Gamertag and we'll retrieve your list of ghosts!</p>
  </div>
</div>
