---
http_interactions:
- request:
    method: get
    uri: https://www.bungie.net/platform/destiny/SearchDestinyPlayer/1/ad1h/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Bungienext-Mid2:
      - 09
      X-Selfurl:
      - https://www.bungie.net/platform/destiny/SearchDestinyPlayer/1/ad1h/
    body:
      encoding: UTF-8
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_xbl.png","membershipType":1,"membershipId":"4611686018435622706","displayName":"ad1h"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Sun, 26 Apr 2015 02:54:34 GMT
- request:
    method: get
    uri: http://www.bungie.net/Platform/Destiny/Vanguard/Grimoire/1/4611686018435622706/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Bungienext-Mid2:
      - '01'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/Vanguard/Grimoire/1/4611686018435622706/
    body:
      encoding: UTF-8
      string: '{"Response":{"data":{"score":2430,"cardCollection":[{"cardId":101005,"score":0,"points":0},{"cardId":101010,"score":30,"points":0,"statisticCollection":[{"statNumber":1,"value":28855.0,"displayValue":"28855","rankCollection":[{"rank":1,"points":5},{"rank":2,"points":5},{"rank":3,"points":5}]},{"statNumber":2,"value":2201.0,"displayValue":"2201","rankCollection":[{"rank":1,"points":5}]},{"statNumber":3,"value":4935.0,"displayValue":"4935","rankCollection":[{"rank":1,"points":5},{"rank":2,"points":5}]}]},{"cardId":101020,"score":25,"points":0,"statisticCollection":[{"statNumber":1,"value":11407.0,"displayValue":"11407","rankCollection":[{"rank":1,"points":5},{"rank":2,"points":5}]},{"statNumber":2,"value":673.0,"displayValue":[...]
