---
http_interactions:
- request:
    method: get
    uri: https://www.bungie.net/platform/destiny/SearchDestinyPlayer/2/Blon19/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Bungienext-Mid2:
      - 09
      X-Selfurl:
      - https://www.bungie.net/platform/destiny/SearchDestinyPlayer/2/Blon19/
    body:
      encoding: US-ASCII
      string: ! '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018435715053","displayName":"Blon19"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Wed, 29 Apr 2015 02:58:06 GMT
- request:
    method: get
    uri: http://www.bungie.net/Platform/Destiny/Vanguard/Grimoire/2/4611686018435715053/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Bungienext-Mid2:
      - '02'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/Vanguard/Grimoire/2/4611686018435715053/
    body:
      encoding: US-ASCII
      string: ! '{"Response":{"data":{"score":695,"cardCollection":[{"cardId":101005,"score":0,"points":0},{"cardId":101010,"score":0,"points":0,"statisticCollection":[{"statNumber":1,"value":2095.0,"displayValue":"2095"},{"statNumber":2,"value":0.0,"displayValue":"0"},{"statNumber":3,"value":0.0,"displayValue":"0"}]},{"cardId":101120,"score":0,"points":0},{"cardId":101130,"score":0,"points":0},{"cardId":101140,"score":0,"points":0},{"cardId":101145,"score":0,"points":0},{"cardId":102030,"score":0,"points":0},{"cardId":103010,"score":15,"points":15},{"cardId":103020,"score":0,"points":0},{"cardId":103090,"score":0,"points":0},{"cardId":103094,"score":0,"points":0,"statisticCollection":[{"statNumber":1,"value":4.0,"displayValue":"4"}]},{"cardId":104010,"score":15,"points":15},{"cardId":105010,"score":15,"points":15},{"cardId":105060,"score":15,"points":15},{"cardId":106070,"score":5,"points":5},{"cardId":108070,"score":0,"points":0},{"cardId":108075,"score":0,"points":0},{"cardId":108080,"score":0,"points":0},{"cardId":108090,"score":0,"points":0},{"cardId":108100,"score":0,"points":0},{"cardId":108110,"score":0,"points":0},{"cardId":109010,"score":0,"points":0},{"cardId":109020,"score":0,"points":0},{"cardId":109040,"score":5,"points":5},{"cardId":109050,"score":0,"points":0},{"cardId":109060,"score":0,"points":0},{"cardId":109070,"score":0,"points":0},{"cardId":109080,"score":0,"points":0},{"cardId":109100,"score":0,"points":0},{"cardId":109110,"score":0,"points":0},{"cardId":109120,"score":0,"points":0},{"cardId":201010,"score":10,"points":5,"statisticCollection":[{"statNumber":1,"value":606.0,"displayValue":"606","rankCollection":[{"rank":1,"points":5}]}]},{"cardId":201060,"score":10,"points":10},{"cardId":201063,"score":10,"points":10},{"cardId":201070,"score":10,"points":10},{"cardId":201090,"score":5,"points":5,"statisticCollection":[{"statNumber":1,"value":298.0,"displayValue":"298"}]},{"cardId":201110,"score":5,"points":5,"statisticCollection":[{"statNumber":1,"value":36.0,"displayValue":"36"}]},{"cardId":201120,"score":5,"points":5,"statisticCollection":[{"statNumber":1,"value":17.0,"displayValue":"17"}]},{"cardId":201130,"[...]
